# Web framework
flask
Flask-login

#ColPali
byaldi

# Core ML libraries
torch
torchvision

# Project-specific libraries
qwen-vl-utils

# API integration
openai

# Utility libraries
einops
docx2pdf
markdown

